<app-ebooks-toolbar></app-ebooks-toolbar>
<mat-card class="book-card">
  <mat-grid-list cols="3" rowHeight="250px" role="list">
    <mat-grid-tile role="listitem" class="book-tile" *ngFor="let book of ebookList">
          <img [alt]="book.title" src="/assets/covers/{{book.isbn}}.jpg">
        <mat-grid-tile-footer>
          <h3 mat-line>{{book.title}}</h3>
          <span mat-line>{{book.author}}</span>
            <span mat-line>
              <app-book-rating [rating]="book.rating"></app-book-rating>
            </span>
          <a mat-icon-button href="/files/{{book.filename}}"><mat-icon class="ebooks-icon">file_download</mat-icon></a>
        </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>